@import "tailwindcss";

@theme inline {
  --color-background: #F2F5D3;
  --color-foreground: #1B1B1B;
  --font-sans: var(--font-mada);
  --font-display: var(--font-madimi);
}

html {
  color-scheme: light;
}

body {
  background-color: #F2F5D3;
  color: #1B1B1B;
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

p {
  font-weight: 500;
}
