@import "tailwindcss";

:root {
  --background: #F2F5D3;
  --foreground: #1B1B1B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-mada);
  --font-display: var(--font-madimi);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
