@import "tailwindcss";

@theme inline {
  --color-background: #F2F5D3;
  --color-foreground: #1B1B1B;
  --font-sans: var(--font-mada);
  --font-display: var(--font-madimi);
}

@layer base {
  html {
    color-scheme: light;
  }

  body {
    background-color: #F2F5D3;
    color: #1B1B1B;
    font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  }

  ::selection {
    background-color: #848a5f92;
    color: #F2F5D3;
  }

}

/* Hide default cursor only on devices with a mouse */
@media (pointer: fine) and (hover: hover) {
  html, body, * {
    cursor: none !important;
  }
}